<div class="container col-xxl-8 px-4 py-3">
  <div class="row justify-content-center flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag("hero_cover2.png", class: "d-block ms-lg-3 me-lg-auto img-fluid", alt: "Une illustration flat d'un événement", style: "width: 800; heigh: 600, loading: lazy")%>
    </div>
    <div class="col-lg-6 text-center text-lg-start">
      <h1 class="display-6 fw-bold lh-1 mb-3 title-color me-lg-3">Ne perdez plus un instant et remplissez votre vie de moments magiques !</h1>
      <p class="lead medium-title-color me-lg-3">Puisque la vie est trop courte, Saint-Loup Event s'occupe de vous proposer, avec l'aide de l'ensemble de la communauté, des événements qui rempliront votre mémoire de magie. Ne tardez plus, assistez à l'un de nos événements ou créez-en un !</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start me-lg-3">
        <%= link_to "Créer un Événement", new_event_path, class:"btn-mustard btn-lg px-4 py-2 my-3 me-md-2"%>
      </div>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-3">
  <h2 class="title-color">Voici nos derniers événements</h2>
</div>

<div class="container d-flex justify-content-center background-custom">
  <div class="row col-xxl-8 px-4 py-2">
    <% @events.each do |event| %>
      <div class="col-sm-8 col-lg-4">
        <div class="card my-4">
          <div class="card-body">
            <%= render event %> 
            <h5 class="title-color"><%= event.title %></h5>
            <p class="card-text">Date : <%= event.start_date %></p>
            <div class="row">
              <div class="text-end">
                <%= link_to "En savoir +", event, class:"btn-mustard m-2 py-1 px-2" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>