<div class="mt-2 mt-md-5 mx-5">
  <p style="color: green"><%= notice %></p>

  <%= render @event %>

  <div>
    <h5 class="title-color"><%= @event.title %></h5>
    <p>Date : <%= @event.start_date %></p>
    <p>Durée : <%= @event.duration / 60 %> heure.s</p>
    <p>Description : <%= @event.description %></p>
    <p>Prix : <%= @event.price %> euros</p>
    <% if user_signed_in? == true && current_user != @event.administrator %>
      <%= button_to "Participer à cet événement", checkout_create_path(total: @event.price), class: "btn btn-primary", data: {turbo: false} %>
    <% elsif current_user == @event.administrator %>
      <%= link_to "Edit this event", edit_event_path(@event) %>
      <br>
      <br>
      <%= button_to "Destroy this event", @event, method: :delete %>
    <% else %>
      <%= link_to "Se connecter pour participer", new_user_session_path %>
    <% end %>
    <br>
    <%= link_to "Back to events", events_path %>
  </div>
</div>
